
.configArea {

}

.playerArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  width: 100dvw;
}

.globalArea {
  border: 2px solid #ccc;
  position: fixed;
  display: flex;
  background-color: #fff;
  top: calc(100dvh / 2 - 6dvh);
  left: calc(100dvw / 2 - 10dvw);
  width: 20dvw;
  height: 12dvh;
}
