
.form {
  margin: auto;
  padding: 8px;
  border: 1px solid #ccc;
}

.inputField {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.inputField label {
  font-size: 12px;
  font-weight: bold;
}
.inputField input {
  font-size: 18px;
  padding: 8px 4px;
}

.form [type=submit] {
  font-size: 18px;
  width: 100%;
  margin: 8px 0;
}
