:root {
  --player1-base-color: #933;
  --player1-bg-color: #edd;

  --player2-base-color: #339;
  --player2-bg-color: #dde;

  --player3-base-color: #993;
  --player3-bg-color: #eed;

   --player4-base-color: #393;
   --player4-bg-color: #ded;
}
