:root {
  --player1-dark-color: #b71c1c;
  --player1-light-color: #ffebee;

  --player2-dark-color: #1a237e;
  --player2-light-color: #e8eaf6;

  --player3-dark-color: #f57f17;
  --player3-light-color: #fffde7;

  --player4-dark-color: #1b5e20;
  --player4-light-color: #e8f5e9;

  --inactive-color: #999;
}
