
.player1-2 {
  transform: rotate(180deg);
  grid-column: 1 / 2;
  grid-row: 1;
}
.player2-2 {
  transform: rotate(0deg);
  grid-column: 1/2;
  grid-row: 2;
}

.player1-3 {
  transform: rotate(180deg);
  grid-column: 1;
  grid-row: 1;
}
.player2-3 {
  transform: rotate(0deg);
  grid-column: 1;
  grid-row: 2;
}
.player3-3 {
  transform: rotate(180deg);
  grid-column: 2;
  grid-row: 1;
}

.player1-4 {
  transform: rotate(180deg);
  grid-column: 1;
  grid-row: 1;
}
.player2-4 {
  transform: rotate(0deg);
  grid-column: 1;
  grid-row: 2;
}
.player3-4 {
  transform: rotate(180deg);
  grid-column: 2;
  grid-row: 1;
}
.player4-4 {
  transform: rotate(0deg);
  grid-column: 2;
  grid-row: 2;
}

.container {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container.player1 {
  color: var(--player1-base-color);
  border-color: var(--player1-base-color);
  background-color: var(--player1-bg-color);
}
.container.player2 {
  color: var(--player2-base-color);
  border-color: var(--player2-base-color);
  background-color: var(--player2-bg-color);
}
.container.player3 {
  color: var(--player3-base-color);
  border-color: var(--player3-base-color);
  background-color: var(--player3-bg-color);
}
.container.player4 {
  color: var(--player4-base-color);
  border-color: var(--player4-base-color);
  background-color: var(--player4-bg-color);
}

.commanderDamages {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.commanderDamage {
  font-weight: bold;
  border-radius: 4px;
  border-width: 3px;
  border-style: solid;
}
.commanderDamage.player1 {
  color: var(--player1-base-color);
  border-color: var(--player1-base-color);
  background-color: var(--player1-bg-color);
}
.commanderDamage.player2 {
  color: var(--player2-base-color);
  border-color: var(--player2-base-color);
  background-color: var(--player2-bg-color);
}
.commanderDamage.player3 {
  color: var(--player3-base-color);
  border-color: var(--player3-base-color);
  background-color: var(--player3-bg-color);
}
.commanderDamage.player4 {
  color: var(--player4-base-color);
  border-color: var(--player4-base-color);
  background-color: var(--player4-bg-color);
}

.lifeCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.life {
  font-weight: bold;
  font-size: 5rem;
}

.status {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-inline-start: 0;
}
