.player1 {
  color: var(--player1-dark-color);
  border-color: var(--player1-dark-color);
  background-color: var(--player1-light-color);
}
.night.player1 {
  color: var(--player1-light-color);
  border-color: var(--player1-dark-color);
  background-color: var(--player1-dark-color);
}

.player2 {
  color: var(--player2-dark-color);
  border-color: var(--player2-dark-color);
  background-color: var(--player2-light-color);
}
.night.player2 {
  color: var(--player2-light-color);
  border-color: var(--player2-dark-color);
  background-color: var(--player2-dark-color);
}

.player3 {
  color: var(--player3-dark-color);
  border-color: var(--player3-dark-color);
  background-color: var(--player3-light-color);
}
.night.player3 {
  color: var(--player3-light-color);
  border-color: var(--player3-dark-color);
  background-color: var(--player3-dark-color);
}

.player4 {
  color: var(--player4-dark-color);
  border-color: var(--player4-dark-color);
  background-color: var(--player4-light-color);
}
.night.player4 {
  color: var(--player4-light-color);
  border-color: var(--player4-dark-color);
  background-color: var(--player4-dark-color);
}

.player1-2 {
  transform: rotate(180deg);
  height: 50dvh;
  width: 100dvw;
}
.player2-2 {
  transform: rotate(0deg);
  height: 50dvh;
  width: 100dvw;
}

.player1-3 {
  transform: rotate(180deg);
  height: 50dvh;
  width: 60dvw;
}
.player2-3 {
  transform: rotate(0deg);
  height: 50dvh;
  width: 60dvw;
}
.player3-3 {
  transform: rotate(270deg);
  height: 40dvw;
  width: 100dvh;
  position: fixed;
  top: calc(-40dvw / 2 + 100dvh / 2);
  right: calc(-100dvh / 2 + 40dvw / 2);
}

.player1-4 {
  transform: rotate(180deg);
  height: 50dvh;
  width: 40dvw;
  position: fixed;
  left: 30dvw;
}
.player2-4 {
  transform: rotate(0deg);
  height: 50dvh;
  width: 40dvw;
  position: fixed;
  left: 30dvw;
  bottom: 0;
}
.player3-4 {
  transform: rotate(270deg);
  height: 30dvw;
  width: 100dvh;
  position: fixed;
  top: calc(-30dvw / 2 + 100dvh / 2);
  right: calc(-100dvh / 2 + 30dvw / 2);
}
.player4-4 {
  transform: rotate(90deg);
  height: 30dvw;
  width: 100dvh;
  position: fixed;
  top: calc(-30dvw / 2 + 100dvh / 2);
  left: calc(-100dvh / 2 + 30dvw / 2);
}

.container {
  border: 2px solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lifeCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.life {
  font-weight: bold;
  font-size: 11vw;
  width: 2em;
  text-align: center;
}

.status {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-inline-start: 0;
  font-size: 3.4vw;
  margin: 0 auto 0.2em;
}
.status li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2em;
}
