.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}

.increment {
  border: none;
  background: none;
}

.decrement {
  border: none;
  background: none;
}

.step {
  font-weight: bold;
  font-size: 2vw;
}
