@property --ripple-inner-size {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

@property --ripple-end-size {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}
@property --ripple-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #fff0;
}

/* ripple */
.ripple {
  position: relative;
}
.ripple::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.ripple.effect::before {
  animation-name: ripple;
  animation-duration: 500ms;
  background-image: radial-gradient(transparent 0, var(--ripple-color) var(--ripple-inner-size), transparent  var(--ripple-end-size), transparent 100%);
}

@keyframes ripple {
  0% {
    --ripple-inner-size: 10%;
    --ripple-end-size: 0%;
    --ripple-color: #fff9;
  }
  10% {
    --ripple-end-size: 50%;
  }
  50% {
    --ripple-inner-size: 50%;
  }
  100% {
    --ripple-inner-size: 90%;
    --ripple-end-size: 140%;
    --ripple-color: #fff0;
  }
}
