.IconButton {
  color: var(--inactive-color);
  background-color: transparent;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  padding: 0;
  border: none;
}
.Active {
  color: inherit;
}
