.fieldset {
  color: var(--inactive-color);
  display: flex;
  align-items: center;
  font-size: 3vw;
  line-height: 1;
  padding: 0.5vw 1vw;
  border: 2px solid #ccc;
  border-radius: 1vw;
}

.toggleDay,
.toggleNight {
  position: relative;
}

.arrow {
  font-size: 2vw;
  margin: 0 0.5em;
}

.toggleDay > input,
.toggleNight > input {
  width: 3vw;
  height: 3vw;
  appearance: none;
  position: absolute;
  margin: 0;
}

.toggleDay:has(input:checked) {
  color: #ffb300;
}

.toggleNight:has(input:checked) {
  color: #fdd835;
}
